[Unit]
Description=Discord Random Memes Bot 
After=network.target

[Service]
Type=simple
ExecStart=/home/user/go/bin/discord-random -config /path/to/config.toml
ExecStop=/usr/bin/pkill discord-random
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
